<section class="adminorderslist light-section">
    <div class="mx-auto w-full px-16 py-16">
        <h1 class="text-3xl font-bold mb-8">All Orders</h1>
    </div>
    <div class="mx-28"> 
    <table class="w-full border-collapse text-center table-auto px-16 py-16 ">
        <thead>
            <tr >
                <th class="px-4 py-2">Orders</th>
                <th class="px-4 py-2 ">Customer</th>
                <th class="px-4 py-2 ">Address</th>
                <th class="px-4 py-2 ">Status</th>
                <th class="px-4 py-2 ">Placed at</th>
                <th class="px-4 py-2 ">Payment Status</th>
            </tr>
        </thead>    
        <tbody id = 'orderTableBody'>
            
        </tbody>
    </table>
    </div>
</section>

<p class="text-center p-16 text-gray-500 text-xs">
    &copy;2021 Pahadi_BHOG. All rights reserved.
</p>
