//COLORS
$primary : #F9F7C2;
$primary-hover: #E36403;
$secondary : #D48D34;
$pure : #fff;
$dark : #232323;
$gray : #ccc;
$back : #EFEEEB;
$hero-back : #F2E9EE;   

//transition
$smooth : all .3s ease-in-out;


